* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-map {
  width: 100vw;
  height: 100vh;

  position: relative;
}

#page-map header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;
}

#page-map header a {
  position: relative;
  text-decoration: none;
  margin: auto;
  font-size: 4vw;
  color: #fff;
}

#page-map .leaflet-container {
  /* display: flex; */
  z-index: 5;
}
