* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#page-map{
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

#page-map .leaflet-container{
    z-index: 5;
}
